.container {
	border: 1px solid gray;
	width: fit-content;
	height: fit-content;
}

.row {
	display: flex;
	flex-direction: row;
}

.cell {
	width: 20px;
	height: 20px;
}

.alive {
	background-color: black;
}

.dead {
	background-color: none;
}
